.adminBtn{
    font-size: $font-size-1;
    color:$primary;
    display: flex;
    align-items: center;
}

.adminContent{
    margin-left: 296px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 48px;
}
.pageBorder{
    border: 1px solid $border-color;
}
.page-link{
    color:$primary;
}

.iconColor{
    color: $highlight-color;
}

.warnIcon{
    color:$warning-color;
}
.formTitle{
    font-size: $font-size-sm;
}
.modalForm-padding{
    padding-bottom: 24.5px;
}
.mt-50{
    margin-top: 50px;
}