.nav{
    position: fixed;
    min-width: 296px;
    min-height: 100vh;
    background-color: $bg-color;
   
}

nav{
    h2{
        a{
            display: block;
            margin-bottom: 27.5px;
            width:150px;
            height:35px;
            object-fit: cover;
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg);
            @include text-hide; 
        }
    }
}

.nav-link {
    display: block;
    padding: 14.5px 32px;
    color:$primary;
}

.user{
   
    position:absolute; 
    bottom:32px;
    left:32px;
    .user-info{
        margin-left: 16px;
        .username{
            font-size: $font-size-1;
            
        }
        .useremail{
            font-size: $font-size-s;
            color:$secondary;
        }
    }
}

