.nav{
    position: fixed;
    min-width: 296px;
    min-height: 100vh;
    background-color: $bg-color;
    min-height: 100vh 
}

nav{
    h2{
        a{
            display: block;
            margin-bottom: 27.5px;
            width:150px;
            height:35px;
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg);
            @include text-hide; 
        }
    }
}

.nav-link {
    display: block;
    padding: 14.5px 32px;
    color:$primary;
}

.user{
    padding: 14.5px 32px;
    margin-top: 363px;
    .user-info{
        margin-left: 16px;
        .username{
            font-size: $font-size-1;
        }
        .useremail{
            font-size: $font-size-s;
            color:$secondary;
        }
    }
}

.main{
    margin-left: 296px;
    padding: 32px;
   
    .main-title{
        font-size: $font-size-m;
        margin-right: 48px;
        
    }
}
.tools{
    a{
        color:$primary;
    }
}